{% extends 'base.html' %}
{% block content %}

<h1 class="mb-4">Список мероприятий</h1>

<div class="d-flex gap-2 mb-3">
    <button type="button"
            class="btn btn-primary"
            onclick="openModal('add')">
        Добавить мероприятие
    </button>
</div>

<div class="card shadow-sm">

    <div class="card-body p-0">

        <div id="loading-events"
             class="text-center py-3">

            <div class="spinner-border text-primary"
                 role="status">
            </div>

        </div>

        <table class="table table-striped table-hover mb-0"
               id="event-table"
               style="display: none;">

            <thead class="table-light">

            <tr>
                <th>№</th>
                <th>Название</th>
                <th>Уровень</th>
                <th>Дата</th>
                <th class="text-end">Действия</th>
            </tr>

            </thead>

            <tbody id="event-body"></tbody>

        </table>

    </div>

</div>

<!-- Модальное окно -->
<div class="modal fade"
     id="eventModal"
     tabindex="-1"
     aria-hidden="true">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">

                <h5 class="modal-title"
                    id="modalTitle">
                    Добавить мероприятие
                </h5>

                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal">
                </button>

            </div>

            <div class="modal-body">

                <form id="eventForm">

                    <input type="hidden" id="editId">

                    <div class="mb-3">

                        <label class="form-label">
                            Название мероприятия
                        </label>

                        <input type="text"
                               class="form-control"
                               id="m_name"
                               required
                               placeholder="Например: Олимпиада по программированию">

                    </div>

                    <div class="mb-3">

                        <label class="form-label">
                            Дата проведения
                        </label>

                        <input type="text"
                               class="form-control"
                               id="m_date"
                               required
                               placeholder="Например: Февраль 2025">

                    </div>

                    <div class="mb-2">
                        <label class="form-label">Уровень мероприятия</label>
                        <input type="text"
                               class="form-control"
                               id="m_level"
                               list="dl_levels"
                               autocomplete="off"
                               placeholder="Например Международный"
                               required>
                        <datalist id="dl_levels"></datalist>
                    </div>

                </form>

            </div>

            <div class="modal-footer">

                <button type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">
                    Отмена
                </button>

                <button type="button"
                        class="btn btn-primary"
                        onclick="saveEvent()">
                    Сохранить
                </button>

            </div>

        </div>

    </div>

</div>

<script src="{{ url_for('static', filename='event_view.js') }}"></script>

{% endblock %}