{% extends 'base.html' %}
{% block content %}
<h1>Студенты</h1>
<a href="{{ url_for ('students_add') }}" class="btn btn-primary">Добавить мероприятие</a>
<table class="table table-striped">
    <thead>
    <tr>
        <th>№</th>
        <th>Мероприятие</th>
        <th>Уровень</th>
        <th>Сроки проведения</th>
        <th>Результаты</th>
        <th>ФИО</th>
        <th>Дипломы</th>
        <th>Награды</th>
        <th>ФИО наставника/преподавателя</th>


    </tr>
    </thead>
    <tbody>
    {% for student in students %}
    <tr>
        <td> {{ student.id }} </td>
        <td> {{ student.meropriyatie }} </td>
        <td> {{ student.uroven }} </td>
        <td> {{ student.sroki_provedeniya }} </td>
        <td> {{ student.rezultat }} </td>
        <td> {{ student.fio }} </td>
        <td> {{ student.diplomi }} </td>
        <td> {{ student.nagradi }} </td>
        <td> {{ student.fio_nastavnika }} </td>
        <td>
            <a href="{{ url_for('students_edit', id= student.id) }}" class="btn btn-sm btn-warning mx-1">Редактировать</a>
            <form method="post" style="display: inline" action="{{ url_for ('students_del', id= student.id) }}">
                <button type="submit" class="btn btn-sm btn-danger mx-1">Удалить</button>
            </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>


</table>

{% endblock %}