{% extends 'base.html' %}
{% block content %}
<h1>Студенты</h1>
<a href="{{ url_for ('students_add') }}" class="btn btn-primary">Добавить мероприятие</a>
<table class="table table-striped">
    <thead>
    <tr>
        <th>№</th>
        <th>Мероприятие</th>
        <th>Уровень</th>
        <th>Сроки проведения</th>
        <th>ФИО, Группа, Результаты, Дипломы, Награды, ФИО наставника/преподавателя</th>


    </tr>
    </thead>
    <tbody>
    {% for uchastie in uchastiya %}
    {% if uchastie.user_null %}
    <tr>
        <td> {{ uchastie.id }} </td>
        <td> {{ uchastie.meropriyatie.name }} </td>
        <td> {{ uchastie.meropriyatie.uroven.uroven_name }} </td>
        <td> {{ uchastie.meropriyatie.date }} </td>
        <td> {{ uchastie.user.fio }}, {{ uchastie.user.group }}, {{ uchastie.rezultat }} (Наставник: {{ uchastie.user_null.fio }}) </td>
        <td>
            <a href="{{ url_for ('students_edit', id= uchastie.id) }}" class="btn btn-sm btn-warning mx-1">Редактировать</a>
            <form method="post" style="display: inline" action="{{ url_for ('students_del', id= uchastie.id) }}">
                <button type="submit" class="btn btn-sm btn-danger mx-1">Удалить</button>
            </form>
        </td>
    </tr>
    {% endif %}
    {% endfor %}
    </tbody>


</table>

{% endblock %}