{% extends 'base.html' %}
{% block content %}
<h1>Добавить мероприятие для студента</h1>
<div class="col-6">
  <form method="post" action="{{ url_for('students_add') }}">
    <div class="mb-3">
      <label for="meropriyatie" class="form-label">Мероприятие</label>
      <input type="text" class="form-control" id="meropriyatie" name="meropriyatie" required>
    </div>
    <div class="mb-3">
      <label for="uroven" class="form-label">Уровень</label>
      <input type="text" class="form-control" id="uroven" name="uroven" required>
    </div>
    <div class="mb-3">
      <label for="sroki_provedeniya" class="form-label">Сроки проведения</label>
      <input type="text" class="form-control" id="sroki_provedeniya" name="sroki_provedeniya" required>
    </div>
    <div class="mb-3">
      <label for="rezultat" class="form-label">Результат</label>
      <input type="text" class="form-control" id="rezultat" name="rezultat" required>
    </div>
    <div class="mb-3">
      <label for="fio" class="form-label">ФИО</label>
      <input class="form-control" list="datalistOptions" id="fio" placeholder="Поиск" name="fio">
      <datalist id="datalistOptions">
        {% for user in user_stud %}
        {% if user.group %}
        <option value="{{ user.fio }}">
        {% endif %}
        {% endfor %}
      </datalist>
    </div>
    <div class="mb-3">
      <label for="group" class="form-label">Группа</label>
      <input type="text" class="form-control" list="group_list" id="group" name="group" required>
      <datalist id="group_list">
        {% for user in user_stud %}
        {% if user.group %}
        <option value="{{ user.group }}">
        {% endif %}
        {% endfor %}
      </datalist>
    </div>
    <div class="mb-3">
      <label for="diplomi" class="form-label">Дипломы</label>
      <input type="text" class="form-control" id="diplomi" name="diplomi" required>
    </div>
    <div class="mb-3">
      <label for="nagradi" class="form-label">Награды</label>
      <input type="text" class="form-control" id="nagradi" name="nagradi" required>
    </div>
    <div class="mb-3">
      <label for="fio_nastavnika" class="form-label">ФИО наставника/преподавателя</label>
      <input type="text" class="form-control" list="fio_nastavn" id="fio_nastavnika" name="fio_nastavnika" required>
      <datalist id="fio_nastavn">
        {% for user in user_stud %}
        {% if user.group == none %}
        <option value="{{ user.fio }}">
        {% endif %}
        {% endfor %}
      </datalist>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
  </form>
</div>
{% endblock %}