{% extends 'base.html' %}
{% block content %}
<h1>Добавить преподавателя</h1>
<div class="col-6">
  <form method="post" action="{{ url_for('user_ped_add') }}">
    <div class="mb-3">
      <label for="fio" class="form-label">ФИО</label>
      <input class="form-control" list="datalistOptions" id="fio" placeholder="Поиск" name="fio">
      <datalist id="datalistOptions">
        {% for user in user_ped %}
        <option value="{{ user.fio }}">
        {% endfor %}
      </datalist>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
  </form>
</div>
{% endblock %}