{% extends 'base.html' %}
{% block content %}
<h1>Добавить студента</h1>
<div class="col-6">
  <form method="post" action="{{ url_for('user_edit', id= user.id) }}">
    <div class="mb-3">
      <label for="fio" class="form-label">ФИО</label>
      <input type="text" class="form-control" id="fio" name="fio" value="{{ user.fio }}" required>
    </div>
    {% if user.group %}
    <div class="mb-3">
      <label for="group" class="form-label">Группа</label>
      <input type="text" class="form-control" id="group" name="group" value="{{ user.group }}" required>
    </div>
    {% endif %}
    <button type="submit" class="btn btn-primary">Сохранить</button>
  </form>
</div>
{% endblock %}