{% extends 'base.html' %}
{% block content %}
<h1>Участники мероприятий</h1>
<a href="{{ url_for ('user_ped_add') }}" class="btn btn-primary">Добавить педагога</a>
<a href="{{ url_for ('user_stud_add') }}" class="btn btn-primary">Добавить студента</a>

<h2>Преподователи</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th>№</th>
        <th>ФИО Преподователя</th>

    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
        {% if user.group == none %}
        <td> {{ user.id }} </td>
        <td> {{ user.fio }} </td>
        <td>
            <a href="{{ url_for ('user_edit', id= user.id) }}" class="btn btn-sm btn-warning mx-1">Редактировать</a>
            <form method="post" style="display: inline" action="{{ url_for ('user_del', id= user.id) }}">
                <button type="submit" class="btn btn-sm btn-danger mx-1">Удалить</button>
            </form>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>
<h2>Студенты</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th>№</th>
        <th>ФИО Cтудента</th>
        <th>ФИО Группа</th>

    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
        {% if user.group %}
        <td> {{ user.id }} </td>
        <td> {{ user.fio }} </td>
        <td> {{ user.group }} </td>
        <td>
            <a href="{{ url_for ('user_edit', id= user.id) }}" class="btn btn-sm btn-warning mx-1">Редактировать</a>
            <form method="post" style="display: inline" action="{{ url_for ('user_del', id= user.id) }}">
                <button type="submit" class="btn btn-sm btn-danger mx-1">Удалить</button>
            </form>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>




</table>

{% endblock %}